################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solemates/.vs
/.vs
/Solemates/StepStyle.Web/obj
*.db-shm
