@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item me-2">
            <a class="nav-link text-dark" asp-controller="Wishlist" asp-action="Index" title="Улюблені">
                <i class="bi bi-heart text-danger" style="font-size: 1.2rem;"></i>
            </a>
        </li>

        <li class="nav-item me-3">
            <a class="nav-link text-dark" asp-controller="Cart" asp-action="Index" title="Кошик">
                <i class="bi bi-cart3 text-primary" style="font-size: 1.2rem;"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark fw-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привіт, @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Brand", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-muted border-0 bg-transparent">Вийти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Реєстрація</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вхід</a>
        </li>
    }
</ul>